body{
    background-color: rgb(12,11,47);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0; 
    padding: 0; 
    font-size: 14px; 
    overflow: hidden;
}

/*------------------------- HEADER --------------------------------------*/

.correctlien{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  
}

.divnav {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-align: right;
}

.backgroundImage{
    background : url(../../assets/images/Background_Game.jpeg) 0% 57%;
    background-repeat: none;
    height: 235px;
    padding-top: 20px;
}

h1{
    display: flex;
    justify-content: center;
    padding-top: 35px;
    color: white;
    font-size: 350%;
}
.fa-user {
    background-color: orange;
    padding: 13px 16px 13px 16px;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: -8px;
    color: white;
}

/*------------------------- THEMES ET DIFFICULTES --------------------------------------*/

select {
    width: 500px;
    height: 50px;
    font-size: 25px;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: orange;
    color: white;
    margin-top: 2px;
}

.level{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 32.5%;
}

#button{
    color: white;
    border: none;
    border-radius: 5px;
    visibility: hidden;
    margin-top: 2px;
}

/*------------------------- FOOTER --------------------------------------*/

.footer {
    display: flex;
    background-color: rgb(5, 5, 43);
    justify-content: space-around;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fa-brands {
    background-color: orange;
    background-size: auto;
    font-size: large;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 75px;
    border-radius: 3px;
}

.footerdiv {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

ul li {
    margin-top: 10px;
    margin-left: -20px;
}

.move_lines {
    margin-top: -20px;
}

.space {
    margin-top: 100px;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: orange;
    bottom: 40px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;

    opacity: 50%;
}

.footlink{
    text-decoration: none;
    color: rgb(168, 167, 167)
}

ul{
    list-style-type: square;
}

/*------------------------- COLOR --------------------------------------*/

.color_orange {
    color: orange;
}

.color_gray {
    color: rgb(168, 167, 167);

}

.correctlien:hover{
    color: orange;
    border-top-style: solid;
    border-color: orange;
    padding-top: 15px;
    margin-top: -10px;
}

/*------------------------- CHAT --------------------------------------*/
.game {
    display: flex;
    justify-content: center;
}

.headerchat{
    background-color: rgb(6, 133, 217);
    height: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

h4{
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-size: 20px;
    padding-top: 8px;
}

textarea {
    vertical-align: top;
    resize: none;
  }

form div {
    width: 330px;
    display: flex;
    flex-direction: column;
    min-height: 20px;
    margin-top: 15px;
    appearance: none;
    color: rgba(181, 174, 174, 0.947);
    
    position: fixed;
    bottom: 55px;
    right: 120px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;


    opacity: 75%;
}

form {
    width: 50px;
    max-width: 100px;
    margin-bottom: 35px;
    margin-top: 85px;
}

.boxchat {
    position: fixed;
    bottom: 40px;
    right: 10px;
     
    width: 450px;
    height: 400px;
    background-color: white;

    border-radius: 5px;
}

.send{
    position: fixed;
    width: 90px;
    right: 15px;
    font-size: 18px;
    bottom: 64px;
    border: none;
    background-color: white;
    font-weight: 900;
}

.pp{
    width : 40px; 
    height : 40px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
    margin-left: 20px;
}

.ppmessage{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pseudomessage{
    display: flex;
    flex-direction: column;
}

.pseudomessage div{
    margin-top: 1px;
}

.petiteecriture{
    color: black;
    font-size: 65%;
    border: 0;
    padding: 0;
}

.pseudo{
    margin-left: 17px;
    border: 0;
    padding: 0;
}

.framechat{ 
    width:100%px; 
    margin-left: 0px;
   
}

.input-user{
    padding: 10px; 
    border: solid 2px #c9c9c9; 
    width:250px
}

.btn {
    border:1px solid #314179; 
    color:#ffffff;
}

.btn-user{
    padding:9px 30px; 
    position: relative; 
    top: 0px; 
    font-size: 16px; 
    font-weight: 300; 
    background-color:#637aad;
}

#result{
    width: 430px;
    padding:10px; 
    max-height: 270px; 
    overflow-y:auto;
    color: black;
}

.chatbody{
    position: fixed; 
    bottom: 0; 
    width: 100%;
}

.chatbody form{
    margin: 0;
}

#msgbox{
    padding: 10px 10px; 
    width: 110%;
    height: 20px; 
}

.btn-clear{
    width: 40px; 
    background-color:red;
}

.barre{
    flex-direction: row;
}
