html{
    scroll-behavior: smooth;
    color: white;
    background-color: rgb(12,11,47);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}
.correctlink{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.correctlink:hover{
    color: orange;
    border-top-style: solid;
    border-color: orange;
    padding-top: 20px;
    margin-top: -20px;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.divnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    text-align: right;
}
.account{
    display: flex;
    justify-content: center;
    align-items: center;
    background : url(../../assets/images/backgroung_register.jpeg) 0% 35%;
    padding-top: 55px;
    padding-bottom: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}
.userinfo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

.zone{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    padding-left: 20px;
    width: 350px;
    height: 35px;
    border: none;
    background-color: #292f3fc7;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(181, 174, 174, 0.901);
    color: white;
}
.button{
    width: 100px;
    height: 50px;
    background: orange;
    border: rgba(0, 0, 50, 0.5) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: white;
    margin-top: -15%;
}
.userpassform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -10%;

}
.usernameform{
    display: flex;
    flex-flow: column wrap;

}
.emailform{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
}
.passform{
    display: flex;
    flex-flow: column wrap;
}
.useremailform{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: orange;
    bottom: 40px;
    right: 50px;
    opacity: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

/*------------------------- FOOTER --------------------------------------*/

.footer {
    display: flex;
    background-color: rgb(5, 5, 43);
    justify-content: space-around;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fa-brands {
    background-color: orange;
    background-size: auto;
    font-size: large;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 75px;
    border-radius: 3px;
}

.footerdiv {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

ul li {
    margin-top: 10px;
    margin-left: -20px;
}

.move_lines {
    margin-top: -20px;
}

.space {
    margin-top: 100px;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: orange;
    bottom: 40px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;

    opacity: 50%;
}

.footlink{
    text-decoration: none;
    color: rgb(168, 167, 167)
}

ul{
    list-style-type: square;
}

/*------------------------- COLOR --------------------------------------*/

.color_orange {
    color: orange;
}

.color_gray {
    color: rgb(168, 167, 167);

}

.infouser {
    display: flex;
    justify-content: flex-start;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}