body{
    background-color: rgb(12,11,47);
    color: white;
}
.correctlink{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
}
.correctlink:hover{
    color: orange;
    border-top-style: solid;
    border-color: orange;
    padding-top: 14px;
    margin-top: -16px;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.divnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    text-align: right;
}
.connex{
    display: flex;
    justify-content: center;
    align-items: center;
    background : url(assets/images/backgroung_register.jpeg) 0% 35%;
    padding-top: 55px;
    padding-bottom: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;

}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 5%;
}
input{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    padding-left: 20px;
    width: 350px;
    height: 35px;
    border: none;
    background-color: #292f3fc7;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(181, 174, 174, 0.901);
    color: white;
}

.button{
    padding-right: 200px;
}
button{
    border: none;
    background-color: orange;
    color: white;
    padding: 10px 15px;
    border-radius: 2px;

}
.reglink{
    text-decoration: none;
    color: orange;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: orange;
    bottom: 40px;
    right: 50px;
    opacity: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}


/*------------------------- COLOR --------------------------------------*/

.color_orange {
    color: orange;
}

.color_gray {
    color: rgb(168, 167, 167);

}