body{
    background-color: rgb(12, 11, 47);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.correctlien{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
}
.correctlien:hover{
    color: orange;
    border-top-style: solid;
    border-color: orange;
    padding-top: 20px;
    margin-top: -20px;
}

.backgroundImage{
    background : url(assets/images/backgroung_register.jpeg) 0% 35%;
    height: 235px;
    padding-top: 20px;
}

.header {
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  
}

.divnav {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-align: right;
}

h1{
    display: flex;
    justify-content: center;
    padding-top: 35px;
    color: white;
    font-size: 350%;
}

.register {
    display: flex;
    justify-content: center;
}

form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 20px;
    margin-top: 15px;
    appearance: none;
    color: rgba(181, 174, 174, 0.901);
}

form div > input {
    background: #292f3fc7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 2px 2px 0px rgba(0,0,50,0.25);
    height: 50px;
    padding-left: 10px;
}

form {
    width: 450px;
    max-width: 500px;
    margin-bottom: 35px;
    margin-top: 85px;
}

.button{
    display: flex;
    flex-direction: row;
}

button{
    width: 100px;
    height: 50px;
    background: rgb(255, 128, 0);
    border: rgba(0, 0, 50, 0.5) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: white;
}

.connexion{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: orange;
    margin-left: 10px;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer {
    display: flex;
    background-color: rgb(5, 5, 43);
    justify-content: space-around;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fa-brands {
    background-color: orange;
    background-size: auto;
    font-size: large;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 75px;
    border-radius: 3px;
    color: white;
}

.footerdiv {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.up_line {
    margin-top: 10px;
    margin-left: -20px;
}

.move_lines {
    margin-top: -20px;
}

.footer h2{
    color: white;
}

.space {
    margin-top: 100px;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: orange;
    bottom: 40px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;

    opacity: 50%;
}

ul{
    list-style-type: square;
}

ul li{
    margin-top: 15px;
}
/*------------------------- COLOR --------------------------------------*/

.color_orange {
    color: orange;
}

.color_gray {
    color: rgb(168, 167, 167);
}



